/.DS_Store
/.ipynb_checkpoints
/E20CSE487_Lab2.zip
/E20CSE487_Lab5.ipynb
/Lab2
/caltech_birds_result
/cars_test
/cars_train
/cifar100_result
/cifar10_result
/cifar10_result.png
/fmnist_result
/fmnist_result.png
/oxford_result
/oxford_result.png
/untitled